@import "tailwindcss";

:root {
  --bg-surface: #fff;
  --bg-surface-transparent: #ffffff00;
  --bg-surface-low: #f5f5f5;
  --bg-surface-normal: #4d4d4d;
  --bg-surface-normal-opacity: #4d4d4def;
  --bg-surface-light: #f5f5f5;
  --bg-surface-low-transparent: #f6f6f600;
  --bg-surface-extra-low: #f6f6f6;
  --bg-surface-extra-low-transparent: #f6f6f600;
  --bg-surface-hover: rgba(0, 0, 0, 0.03);
  --bg-surface-active: rgba(0, 0, 0, 0.05);
  --bg-surface-border: rgba(0, 0, 0, 0.06);
  --bg-primary: #7000fe;
  --bg-primary-hover: rgba(112, 0, 254, 0.8);
  --bg-primary-active: rgba(112, 0, 254, 0.7);
  --bg-primary-border: rgba(112, 0, 254, 0.38);
  --bg-positive: #45b83b;
  --bg-positive-hover: rgba(69, 184, 59, 0.08);
  --bg-positive-active: rgba(69, 184, 59, 0.15);
  --bg-positive-border: rgba(69, 184, 59, 0.4);
  --bg-caution: #ffb300;
  --bg-caution-hover: rgba(255, 179, 0, 0.08);
  --bg-caution-active: rgba(255, 179, 0, 0.15);
  --bg-caution-border: rgba(255, 179, 0, 0.4);
  --bg-danger: #f04747;
  --bg-danger-hover: rgba(240, 71, 71, 0.05);
  --bg-danger-active: rgba(240, 71, 71, 0.1);
  --bg-danger-border: rgba(240, 71, 71, 0.2);
  --bg-tooltip: #353535;
  --bg-badge: #989898;
  --bg-ping: rgba(92, 255, 138, 0.4);
  --bg-ping-hover: rgba(92, 255, 138, 0.5);
  --bg-divider: rgba(0, 0, 0, 0.1);
  --tc-surface-high: #000;
  --tc-surface-normal: rgba(0, 0, 0, 0.78);
  --tc-surface-normal-low: rgba(0, 0, 0, 0.6);
  --tc-surface-low: rgba(0, 0, 0, 0.48);
  --tc-primary-high: #fff;
  --tc-primary-normal: hsla(0, 0%, 100%, 0.68);
  --tc-primary-low: hsla(0, 0%, 100%, 0.4);
  --tc-positive-high: var(--bg-positive);
  --tc-positive-normal: rgba(69, 184, 59, 0.8);
  --tc-positive-low: rgba(69, 184, 59, 0.6);
  --tc-caution-high: var(--bg-caution);
  --tc-caution-normal: rgba(255, 179, 0, 0.8);
  --tc-caution-low: rgba(255, 179, 0, 0.6);
  --tc-danger-high: var(--bg-danger);
  --tc-danger-normal: rgba(240, 71, 71, 0.88);
  --tc-danger-low: rgba(240, 71, 71, 0.6);
  --tc-code: #e62498;
  --tc-link: #7000fe;
  --tc-tooltip: #fff;
  --tc-badge: #fff;
  --ic-surface-high: #272727;
  --ic-surface-normal: #4d4d4d;
  --ic-surface-low: #7c7c7c;
  --ic-primary-high: #fff;
  --ic-primary-normal: #fff;
  --ic-positive-high: #45b83b;
  --ic-positive-normal: rgba(69, 184, 59, 0.8);
  --ic-caution-high: #ffb300;
  --ic-caution-normal: rgba(255, 179, 0, 0.8);
  --ic-danger-high: #f04747;
  --ic-danger-normal: rgba(240, 71, 71, 0.7);
  --mx-uc-1: #388cd6;
  --mx-uc-2: #ab3ba7;
  --mx-uc-3: #03b582;
  --mx-uc-4: #e6517b;
  --mx-uc-5: #ff822e;
  --mx-uc-6: #2cc1c3;
  --mx-uc-7: #5c56f5;
  --mx-uc-8: #74d22d;
  --ic-large: 38px;
  --ic-normal: 24px;
  --ic-small: 20px;
  --ic-extra-small: 18px;
  --av-large: 80px;
  --av-normal: 42px;
  --av-small: 36px;
  --av-extra-small: 24px;
  --bg-overlay: rgba(0, 0, 0, 0.2);
  --bg-overlay-low: rgba(0, 0, 0, 0.85);
  --bs-popup: 0 0 16px rgba(0, 0, 0, 0.1);
  --bs-surface-border: inset 0 0 0 1px var(--bg-surface-border);
  --bs-surface-outline: 0 0 0 2px var(--bg-surface-border);
  --bs-primary-border: inset 0 0 0 1px var(--bg-primary-border);
  --bs-primary-outline: 0 0 0 2px var(--bg-primary-border);
  --bs-positive-border: inset 0 0 0 1px var(--bg-positive-border);
  --bs-positive-outline: 0 0 0 2px var(--bg-positive-border);
  --bs-caution-border: inset 0 0 0 1px var(--bg-caution-border);
  --bs-caution-outline: 0 0 0 2px var(--bg-caution-border);
  --bs-danger-border: inset 0 0 0 1px var(--bg-danger-border);
  --bs-danger-outline: 0 0 0 2px var(--bg-danger-border);
  --bo-radius: 8px;
  --fs-h1: 36px;
  --ls-h1: -1.5px;
  --lh-h1: 38px;
  --fs-h2: 24px;
  --ls-h2: -0.5px;
  --lh-h2: 30px;
  --fs-s1: 18px;
  --ls-s1: -0.2px;
  --lh-s1: 24px;
  --fs-b1: 16px;
  --ls-b1: 0.1px;
  --lh-b1: 24px;
  --fs-b2: 14px;
  --ls-b2: 0.2px;
  --lh-b2: 20px;
  --fs-b3: 12px;
  --ls-b3: 0px;
  --lh-b3: 16px;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --sp-none: 0px;
  --sp-ultra-tight: 4px;
  --sp-extra-tight: 8px;
  --sp-tight: 12px;
  --sp-normal: 16px;
  --sp-loose: 20px;
  --sp-extra-loose: 32px;
  --border-width: 1px;
  --header-height: 54px;
  --navigation-sidebar-width: calc(64px + var(--border-width));
  --navigation-drawer-width: calc(280px + var(--border-width));
  --navigation-width: calc(var(--navigation-sidebar-width) + var(--navigation-drawer-width));
  --people-drawer-width: calc(268px - var(--border-width));
  --popup-window-drawer-width: 280px;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --fluid-push: cubic-bezier(0, 0.8, 0.67, 0.97);
  --fluid-slide-down: cubic-bezier(0.02, 0.82, 0.4, 0.96);
  --fluid-slide-up: cubic-bezier(0.13, 0.56, 0.25, 0.99);
  --font-primary: "Roobert", sans-serif;
  --font-secondary: "Roobert", sans-serif;
}



